--extra-index-url https://download.pytorch.org/whl/cu118
# Specify CUDA-compatible versions of torch and torchvision
torch==2.3.1+cu118
torchvision==0.18.1+cu118
numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors
